* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: #162947;
    color: white;
    font-size: 1em;
    position: relative; 
    overflow-x: hidden; /* Evita scrolls horizontais indesejados */
}

header {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > img {
    flex: 0 0 200px;
    margin: 50px;
}

header > nav {
    margin: 50px;
}

header > nav > a {
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

header > nav > a:hover {
    color: #AB89F5;
}

main {
    z-index: 1; /* Para o main ficar por cima, pois em alguns navegadores estavam aparecendo widgets de extensões do navegador */
    position: relative;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    color: #AB89F5;
    text-align: center;
}

p {
    text-align: justify;
    text-indent: 30px;
}